
*, *::before, *::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

:root {
  --color-dark: rgba(32, 23, 6, 0.6);
  --color-medium: rgba(10, 153, 53, 0.5);
  --color-light: rgba(141, 180, 129, 0.2);
}


.full-screen-container {
  background-image: url(./Screen.jpg);
  width: 100%;  
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -10;
}

.login-screen-container {
  box-shadow: 0 0 20px rgb(67, 82, 3);
  padding: 30px 50px;
  border-radius: 20px;
  background-color: var(--color-dark);
  width:  500px;
  min-width:  320px;
  z-index: 3;
}

.login-header {
  margin: 0px;
  font-size: 2.4rem;
  font-weight: lighter;
  text-align: center;
  color: gold;
  text-shadow: 0 0 40px gold;
  animation: glow 2s infinite ease-in-out alternate;
}

@keyframes glow {
  to {
    text-shadow: 0 0 5px gold;
  }
}

.input_form {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin: 40px 0;
}

.input-field {
  color: white;
  display: flex;
  flex-direction: column;
  
}

.input-field.error input {
  box-shadow: 0 0 0 1px red;
}

.input-element {
  height: 2.5rem;
  border-radius: 8px;
  background-color: var(--color-light);
  border: none;
  color: white;
  font-size: 1.5rem;
  margin: 5px 0;
  outline: none;
  padding: 0 20px;
}

.input-element:focus{
  box-shadow: 0 0 0 2px var(--color-medium);
}

.msg {
  display:none;
}

.input-field.error .msg{
  display: block;
  color: red;
  font-size: 0.8rem;
  font-weight: bold;
}

.login-btn {
  margin: 30px 0 0 0;
  height: 2.7rem;
  border-radius: 8px;
  background-color: var(--color-medium);
  outline: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;  
}

.login-btn:hover,
.login-btn:focus {
  box-shadow: 0 0 20px 3px gold;
  transition: 0.2s;
}

.registration-link {
  text-align: center;
  color: white;
  cursor: pointer;
}

.registration-link:hover {
  text-shadow: 0 0 30px gold;
  color: gold;
  transition: 0.2s;
}



.fallen-leaf {
  position: absolute;
  top: -90px;
  animation: fall 9000ms infinite linear forwards;
  color: gold;
}

@keyframes fall {
  to {
    transform: 
      translateY(101vh)
      rotate3d(0, 1, 0.5, 4rad)
      rotate3d(2, -1, -1, -0.9turn)
  }
}

